<launch>
  <arg name="sim" default="true" />
  <arg name="robot_ip" unless="$(arg sim)" />

  <include file="$(find yak)/launch/launch_xtion.launch" />
  <include file="$(find yak_ur5_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" unless="$(arg sim)"/>
    <arg name="sim" value="$(arg sim)"/>
  </include>
  <include file="$(find nbv_planner)/launch/octomap_mapping.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yak_ur5_support)/launch/yak_ur5_demo.rviz" required="true" output="screen"/>

</launch>
